<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Parcel</title>
</head>
<body>
    <h1>Parcel Details</h1>
    <p>Parcel Name: {{ parcel.parcel_name }}</p>
    <p>Pickup Location: {{ parcel.pickup_location }}</p>
    <p>Destination: {{ parcel.destination }}</p>
    <p>Latitude Pickup Location: {{parcel.latitude_pick_up_location}}</p>
    <p>longitude Pickup Location: {{parcel.longitude_pick_up_location}}</p>
    <p>latitude Destination: {{parcel.latitude_destination}}</p>
    <p>Longitude Destination: {{parcel.longitude_destination}}</p>
    <p>Image: {{parcel.image_of_parcel}}</p> 
    <p>Receivers Name: {{parcel.receivers_name}}</p> 
    <p>Weight Of Parcel: {{parcel.weight_of_parcel}}</p>
</body>
</html>
